numpy==1.21.0
aiocqhttp==1.4.0
ujson==4.0.2
aiohttp==3.7.4.post0
nonebot==1.8.3
aiohttp_proxy==0.1.2
tweepy==3.10.0
opencv_python==4.5.2.54
retrying==1.3.3
httpx==0.18.2
loguru==0.5.3
feedparser==6.0.8
beautifulsoup4==4.9.3
Pillow==8.2.0
