requests==2.26.0
playwright==1.14.1
soraha_utils==0.0.6
selenium==3.141.0
httpx==0.19.0
opencv_python==4.5.3.56
nest_asyncio==1.5.1
loguru==0.5.3
retrying==1.3.3
tweepy==3.10.0
nonebot==1.8.4
aiohttp==3.7.4.post0
aiocqhttp==1.4.1
feedparser==6.0.8
uvicorn==0.15.0
psutil==5.8.0
numpy==1.21.2
ujson==4.1.0
aiohttp_proxy==0.1.2
beautifulsoup4==4.10.0
Pillow==8.4.0
